@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/point.css";
@import "components/icon-raw.css";
@import "components/alt-screen-header.css";
@import 'components/no-mobile.css';

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "screens/chats.css";

body {
    font-family: 'Open Sans', sans-serif;
    color: #2e363e;
}

.main-screen {
    padding: 0px var(--horizontal-space);
    margin-top: 100px;
}

.main-screen .settings-list {
    margin-top: -80px;
}

input, textarea, button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}