#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 12px;
    margin-bottom: 17px;
    margin-top: 120px;
    letter-spacing: 2px;
}

#friends-display-link i{
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
    height: 130vh;
}

.friends-screen__channel {
    margin-top: 15px;
    border-top: var(--main-border);
    padding-top: 13px;
}

.friends-screen__channel-header {
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen__channel-header span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    letter-spacing: 1px;
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: black;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 132px;
    animation: hideSplashScreen 0.7s ease-in-out forwards;
    animation-delay: 1.8s;
    z-index: 2;
}
#splash-screen img {
    width: 100vw;
    height: 100vh;
}