
.settings__setting {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings__setting i {
    font-size: 22px;
    opacity: 0.8;
    margin-right: 20px;
}

.settings__setting-column:last-child {
    opacity: 0.5;
}

.settings__setting-column:first-child:hover {
    color: #cd57e5;
    font-weight: 600;
}