.main-screen .icon-row {
    margin-top: -20px;
}

.icon-row {
    display: flex;
    flex-wrap: wrap;
}

.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 15px 0px;
    box-sizing: border-box;
    text-align: center;
}

.icon-row__icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-row__icon i {
    font-size: 25px;
}

.icon-row__icon span {
    margin-top: 18px;
    font-size: 14px;
}

@keyframes rotateFindDisc {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.icon-row__icon .fa-compact-disc {
    animation: rotateFindDisc 0.6s linear infinite;
}